/* 2. upto 414px
@media only screen and (max-width: 414px) {
  .footer,
  .collections,
  .question-offers {
    width: 125%;
  }
}
/* 3. upto 411px */
@media only screen and (max-width: 411px) {
  .footer,
  .collections,
  .question-offers {
    width: 100%;
  }
}
/* 4. upto 375px */
@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}
/* 5. upto 320px */
@media only screen and (max-width: 320px) {
  .footer,
  .collections,
  .question-offers {
    width: 141%;
  }
}
/* 6. upto 280px */
@media only screen and (max-width: 280px) {
  .footer,
  .collections,
  .question-offers {
    width: 186%;
  }
}
