/* Common Styles */
body {
  margin: 0;
}
.start,
.collections {
  margin-bottom: 100px;
}
.fa-star,
.fa-star-half-alt {
  color: #fb8200;
}
.fa-arrow-right {
  margin-left: 5px;
}
h3 {
  line-height: 50%;
}
span {
  color: #5e6366;
  margin-left: 20px;
}
button {
  background-color: #e02c6d;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  border: none;
  font-weight: bold;
}
/* Large Device(1025-up) */
.container {
  width: 80%;
  margin: 0 auto;
}
.start {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
}
.start h1 {
  font-size: 3em;
}

#start-img {
  width: 80%;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.collection-name {
  font-size: 1.5em;
  font-weight: 500px;
}
.collection-price {
  font-weight: 200px;
  color: rgba(0, 0, 0, 0.774);
}
.collection-description p {
  line-height: 25%;
  color: #787885;
  font-weight: bold;
}
.question-offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}
.question-offers button {
  margin-top: 10px;
}
.offer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.see-offer {
  background-color: mediumaquamarine;
  padding: 50px;
  margin-bottom: 5px;
}
form input {
  border: 2px solid #e02c6d;
  border-radius: 10px;
  width: 100%;
  height: 25px;
}
form textarea {
  border: 2px solid #e02c6d;
  border-radius: 10px;
  width: 100%;
}
.footer {
  height: 150px;
  background-color: rgb(1, 1, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#footer-header {
  font-size: 24px;
  font-weight: bold;
}
.footer p {
  padding: 0;
  margin: 0;
}
/* Medium Device(768-1024) */
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .start {
    padding: 10px;
    justify-items: stretch;
  }
  #start-img {
    width: 70%;
  }
  .collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .question-offers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .question {
    margin-bottom: 50px;
  }
}

/* Small Device(upto 767) */
